<% layout("/layouts/boilerplate") %>

<!-- Quotes Section -->
<section class="quotes-section row">
    <div class="quote-container">
        <h2 class="quotes-title">Inspirational Quotes</h2>
        <div class="quote-text">
            <q>The only way to do great work is to love what you do.</q>
            <p>- Steve Jobs</p>
        </div>
    </div>
    <div class="quote-container">
        <h2 class="quotes-title">Motivational Quotes</h2>
        <div class="quote-text">
            <q>Success is not final, failure is not fatal: It is the courage to continue that counts.</q>
            <p>- Winston Churchill</p>
        </div>
    </div>
</section>