<style>
    .image-container {
        width: 100%;
        margin-top: 20px;
        overflow: hidden;
    }

    .full-width-image {
        aspect-ratio: 1.59;
        object-fit: cover;
        object-position: center;
        width: 100%;
        min-height: 20px;
        min-width: 20px;
    }
</style>

<section class="image-container">
    <img loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets%2Ff83eba3fcad646e1b9247f53a10d2136%2F467a0106bc8e4504a3dc4ba57d1e9f99"
        class="full-width-image" alt="" />
</section>